body {
    background-color: black;
}
h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    background-color: #ff9900;
    text-transform: uppercase;
}
p {
  color: white;
}

.tb2 {
    background-color: #ff9900;
    width: 70px;
    height: 30px;
}