body {
    background-color: black;
}
h1, p, span, #start, .tb1, .tb2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: black;
    background-color: #DFA047;
    text-transform: uppercase;
}
#container {
    margin-top: 3px;
}

#start {
    width: 150px;
    height: 60px;
    border: none;
    text-align: right;
    padding: 5px;
    margin: 0 0 15px 0;
    font-size: medium;
 }

.side {
    width: 150px;
    height: 60px;
    border: none;
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
    padding: 5px;
}

.tb1 {
    background-color: #ffcc66;
}

.tb2{
    background-color: #DFA047;
}

svg {
    width: 660px;
    height: 90px;
}